<div class="container detail-mt">
  <div class="row">
    <div class="col bg-white rounded border">
      <h2 class="mt-4 font-weight-bold">Player Details</h2>
      <hr>
      <div class="mt-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/home" cursor="pointer">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Detail
            </li>
          </ol>
        </nav>
      </div>
      <table *ngIf="player" class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Player Name</th>
            <th scope="col">Value in market</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ player.id }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.value }}</td>
            <td>{{ player.country | countryName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>