<div class="container">
  <div class="row">
    <div class="col mb-5 bg-white rounded border">
      <h2 class="mt-4 font-weight-bold">Team Details</h2>
      <div class="col-3 offset-9 add-right">
        <button type="button" class="btn btn-warning" (click)="createPlayer()">Add player</button>
      </div>
      <hr>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Player Name</th>
            <th scope="col">Value in market</th>
            <th scope="col">Country</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players">
            <td>{{ player.id }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.value }}</td>
            <td>{{ player.country }}</td>
            <td><button type="button" class="btn btn-warning" (click)="editPlayer(player.id)">Edit</button></td>
            <td><button type="button" class="btn btn-delete"><i class="fa fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-modal-options></app-modal-options> 