<div class="container">
  <div class="row">
    <div class="col mb-5 bg-white rounded border">
      <h2 class="mt-4 font-weight-bold">Team Details</h2>
      <div class="col-3 offset-9 add-right">
        <button type="button" class="btn btn-warning" (click)="createPlayer()">Add player</button>
      </div>
      <hr>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Player Name</th>
            <th scope="col">Value in market</th>
            <th scope="col">Country</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players">
            <td>{{ player.id }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.value }}</td>
            <td>{{ player.country }}</td>
            <td><button type="button" class="btn btn-warning" (click)="editPlayer(player.id)">Edit</button></td>
            <td><button type="button" class="btn btn-delete" (click)="openVerticallyCentered(content, player)"><i class="fa fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Delete Player</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure?&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="deletePlayerSelected(selectedPlayer.id); d('Cross click')">Yes</button>
  </div>
</ng-template>